* {
  margin: 0;
  font-family: 'Kanit', sans-serif; }

body {
  background-color: #1b2838; }

.titulo {
  background-color: #46612a;
  margin-bottom: 2rem;
  text-align: center;
  color: white;
  padding: 10px; }
  .titulo h1 {
    font-size: 60px; }

.cajas {
  display: flex;
  justify-content: center; }
  .cajas__container {
    display: grid;
    grid-template-areas: "auto auto auto";
    gap: 2rem; }
    .cajas__container__data {
      width: 350px;
      border-radius: 1rem;
      box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }
      .cajas__container__data__img {
        height: 280px;
        border-radius: 1rem 1rem 0rem 0rem;
        background: #071215; }
        .cajas__container__data__img__coleccion {
          width: 300px; }
      .cajas__container__data__info {
        padding: 1rem 1rem 0rem 1rem;
        text-align: center;
        color: white; }
      .cajas__container__data__button {
        text-align: end;
        padding: 0rem 1rem 1rem 1rem; }

.inv__button {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 1rem; }

.navbar {
  display: flex;
  align-items: center;
  background-color: #171a21; }
  .navbar a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 2rem; }
    .navbar a:hover {
      cursor: pointer;
      background-color: rgba(116, 108, 108, 0.088); }
  .navbar__img {
    width: 130px;
    margin-left: 250px; }
  .navbar__page {
    margin-left: 200px; }
