*{
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #1b2838
}

.titulo {
    background-color: #46612a;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    padding: 10px;
    h1 {
        font-size: 60px;
    }
    
}

.cajas {
    display: flex;
    justify-content: center;
    &__container {
        display: grid;
        grid-template-areas: "auto auto auto";
        gap: 2rem;
        &__data {
            width: 350px;
            border-radius: 1rem;
            box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
            &__img {
                height: 280px;
                border-radius: 1rem 1rem 0rem 0rem;
                background: #071215;
                &__coleccion{
                    width: 300px;
                }
            }
            &__info {
                padding: 1rem 1rem 0rem 1rem;
                text-align: center;
                color: white;
            }
            &__button {
                text-align: end;
                padding: 0rem 1rem 1rem 1rem;
            }
        }

    }

}
